$primary-color: #1976d2;
$secondary-color: #424242;
$background-color: #fff;
$text-color: #333;
$text-color-light: #000;
$text-color-dark: #fff;

// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-heading: 'Gloria Hallelujah', cursive;

$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-sm: 14px;

$font-weight-normal: 500;
$font-weight-bold: 700;